@using ShipperHN.Business.Entities
@model Post
@{
    Post post = Model;
}

<article class="post-preview-popup">
    <div class="post-preview-popup-info">
      <a class="post-preview-popup-avatar" href=@string.Format("https://www.facebook.com/" + @post.User.Id)>
        <img src=@string.Format("https://graph.facebook.com/" + @post.User.UserId + "/picture?type=square") alt="Avatar"/>
      </a>
        <a class="post-preview-popup-name">@post.User.Name</a>
        @if (post.User.PhoneNumbers.Count > 0)
        {
            foreach (PhoneNumber phoneNumber in post.User.PhoneNumbers)
            {
                <div class="post-preview-popup-phone">
                    <a href="tel:@phoneNumber.Phone">@phoneNumber.Phone</a>
                </div>
            }
        }
    </div>
    <hr />
    <div class="post-preview-popup-content">
        <div class="post-preview-popup-message">
            @post.Message
        </div>
        @if (!string.IsNullOrEmpty(post.FullPicture.Trim()))
        {
            <a class="post-preview-popup-full-picture"><img src=@string.Format(@post.FullPicture) alt="Full Picture" /></a>
        }

        <div class="post-preview-popup-places">
            @for (int i = 0; i < post.Places.Split(',').Count(); i++)
            {
                if (!string.IsNullOrEmpty(post.Places.Split(',')[i]))
                {
                    <a style="background: @post.GetColor(post.Places.Split(',')[i])">@post.Places.Split(',')[i].Trim()</a>
                }
            }
        </div>
        <div class="post-preview-popup-date">
            <span>
                @Html.Partial("~/Views/_Time.cshtml", post.CreatedTime)
            </span>
        </div>
        <div class="view-facebook">
            <a href=@string.Format("https://www.facebook.com/" + @post.PostId)><img src="~/Content/images/facebook.png"/></a>
        </div>
    </div>
    <div class="clear"></div>
    <div id="comments">

    </div>
    <div id="comments-loading">
        @Html.Partial("~/Views/Shared/_Loading.cshtml")
    </div>

    <div class="clear"></div>
</article>

