@using System.Web.Optimization
@using ShipperHN.Business.Entities
@{
  List<Post> posts = (List<Post>)ViewData["posts"];
  string location = (string)ViewData["location"];
}

<!DOCTYPE html>
<html lang="vi">
<head>

  <meta charset="utf-8" />
  <title>ShipperHN</title>
  <link rel="icon" type="image/png" href="/Content/images/new-logo.png" />
  <meta name="keywords" content="ship, shipper, shipperhn, ship hàng, tìm ship, ship nhanh" />
  <meta name="description" content="ShipperHN - Tìm Ship nhanh nhất - Nhận Ship nhanh nhất!" />
  @Styles.Render("/bundles/css")

  <!-- Open Graph data -->
  <meta property="og:title" content="ShipperHN" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://shipperhn.com/" />
  <meta property="og:image" content="http://shipperhn.com//Content/images/thumb.png" />
  <meta property="og:description" content="ShipperHN - Tìm Ship nhanh nhất - Nhận Ship nhanh nhất!" />
@*  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">*@
@*  <script src="https://unpkg.com/video.js/dist/video.js"></script>*@
@*  <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>*@
</head>
<body onload="onload()">
  <div class="wrap">
    <div id="alert"></div>

    <header>
      <div class="logo">
        <a href="/">
          <img src="/Content/images/logo.png" alt="L O G O" />
        </a>
      </div>
      <div class="options">
        <ul>
          <li><img src="/Content/images/options-search-not-active.png"></li>
          <li><img src="/Content/images/options-menu-not-active.png"></li>
        </ul>
      </div>
      <div id="nearby">
        <img src="/Content/images/location-active.gif">
      </div>
      <div class="clear"></div>
      <div class="search-box">
        <input id="txt-search" type="text" placeholder=@("#số_điện_thoại/@tên_người_dùng") maxlength="30">
        <a onclick="Search()">S E A R C H</a>
        <div class="clear"></div>
        <div id="search-result"></div>
      </div>
      <nav class="vertical menu">
        <ul>
          <li><a onclick="LoginWithFacebook()">Login With Facebook</a></li>
          <li><a href="https://www.facebook.com/Shipperhn-177225342709065/">Facebook Page</a></li>
          <li><a id="hide-location-bar" onclick="HideLocationBar()">Hide Location Bar</a></li>
          <li><a id="hide-nearby" onclick="HideNearBy()">Turn On Near By Feature</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">

      <div id="location-nav">
        @Html.Partial("/Views/_LocationNav.cshtml", new Post().GetLocations())
      </div>

      <div id="top-loading" style="display: none;">
        @Html.Partial("/Views/Shared/_Loading.cshtml")
      </div>
      
@*      <video id=example-video width=1000 height=540 class="video-js vjs-default-skin" controls>*@
@*        <source*@
@*          src="http://117.103.224.75:1935/live/smil:Haiphong1.smil/playlist.m3u8?token=xHhNYMNvyIbpNtP6%2FX%2Fo21hJ9HlcLi%2FIIF10f9SP0w16lJoxtLCbJS7vDEW7Mo9aUWLSZHVMtfBxj2%2BSJcwfkzct%2FRO6xm%2BNRzdYyfZzzcOdW%2Bgq%2BQA51tJ3b0lTisY56gMRaF%2BcEve64rKwraNoAodHvA%2BAMWsRvgeoThHlHjs%3D"*@
@*          type="application/x-mpegURL">*@
@*      </video>*@
@*      *@
@*      <script>*@
@*        var player = videojs('example-video');*@
@*        player.play();*@
@*      </script>*@

      <div id="post-list">
        @Html.Partial("/Views/_PostList.cshtml", posts)
      </div>

      <div id="bottom-loading" style="display: none;">
        @Html.Partial("/Views/Shared/_Loading.cshtml")
      </div>

    </div>
  </div>

  <div id="btn-back-to-top">
    <input type="button" value="T O P" onclick="BackToTop()" />
  </div>

  <div id="location-div" data-location="@location"></div>

  @Scripts.Render("/bundles/js")

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91399861-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-91399861-1');
  </script>


</body>
</html>
